<h2 class="contentTitle">修改密码</h2>
<form method="post" action="/personalCenter/changePassword" class="pageForm required-validate" onsubmit="return iframeCallback(this, dialogAjaxDone);" xmlns:th="http://www.thymeleaf.org">
    <input type="hidden" name="_method" value="PUT"/>
    <input type="hidden" name="id" th:value="${user.id}"/>
    <div class="pageContent">
        <div class="pageFormContent" layoutH="97">
            <dl class="nowrap">
                <dt>用户名：</dt>
                <dd>
                    <input name="username" type="text" th:value="${user.username}" class="required readonly" readonly maxlength="50"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt>原密码：</dt>
                <dd>
                    <input name="password" type="password" value="" class="required" maxlength="50"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt>新密码：</dt>
                <dd>
                    <input name="newPassword" id="newPassword" type="password"  value="" class="required"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt>确认密码：</dt>
                <dd>
                    <input name="rePassword" type="password" class="required" equalto="#newPassword"/>
                </dd>
            </dl>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">修改</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button class="close" type="button">关闭</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</form>

