<h2 class="contentTitle">编辑角色</h2>
<form method="post" action="guestroom/role" class="pageForm required-validate" onsubmit="return iframeCallback(this, navTabAjaxDone);" xmlns:th="http://www.thymeleaf.org">
    <input type="hidden" name="_method" value="PUT"/>
    <input type="hidden" name="id" value="" th:value="${role.id}"/>
    <input type="hidden" name="createDate" value="" th:value="${role.createDate}"/>
    <div class="pageContent">
        <div class="pageFormContent" layoutH="97">
            <dl class="nowrap">
                <dt>角色名：</dt>
                <dd>
                    <input name="name" type="text" th:value="${role.name}" value="" class="required readonly" maxlength="50"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt>更新时间：</dt>
                <dd>
                    <input name="updateDate" type="date" th:value="${role.updateDate}" value="" class="required readonly" maxlength="50"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt>权限选择：</dt>
                <dd id="AccessOptions" style="height: 250px ;width: 200px; overflow: scroll">
                </dd>
            </dl>
            <!--<dl class="nowrap">
                <dt>用户层级:</dt>
                <dd>
                    <input name="userLevel.id" th:value="${user.userLevel.id}" value="" type="hidden" class="required"/>
                    <input class="required readonly" th:value="${user.userLevel.name}" disabled="disabled" name="userLevel.name" type="text"  lookupGroup="userLevel" />
                    <a class="btnLook" href="guestroom/userLevel/lookup" lookupGroup="userLevel" >查找带回</a>
                </dd>
            </dl>-->



        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">更新</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button class="close" type="button">关闭</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</form>
<script type="text/javascript">
    (function () {
        $.ajax({
            url: "ajax/menu/findMenus",
            type: "post",
            cache: false,
            dataType: "json",
            async: false,
            success: function (data) {
                $("#AccessOptions").append("<ul class='tree treeFolder treeCheck expand'></ul>");
                $.each(data,function (i,obj) {
                    // obj生成对应li标签
                    var html="<li id='d"+obj.id+"'><a tname='menus' tvalue='"+obj.id+"'>"+obj.name+"</a></li>";
                    //分辨层次
                    if(obj.pId==0){//是顶级标签
                        $("#AccessOptions >ul ").append(html);
                    }else{//不是顶级标签
                        var pid="d"+obj.pId;//获取父亲ID
                        var size=$("#"+pid).find("ul").size()//ul是否已经加了
                        if(size==0)//没有加ul
                            $("#"+pid).append("<ul></ul>");
                        $("#"+pid).find("ul").append(html);   //找到父级标签

                    }
                })

            }
        });
        window.setInterval(function () {
            $(".indeterminate").find("input").attr("checked","checked");
        },100)
    })();
    (function () {
        $.ajax({
            url: "guestroom/RoleMenusJson",
            type: "post",
            cache: false,
            dataType: "json",
            async: false,
            success:function (data) {
                $.each(data,function (i,obj) {
                    // $("#d"+obj.id+" :checkbox").prop("checked",true);
                    // console.log(obj)
                    // $("#d"+obj.id+" > div:eq(2)").addClass("ckbox checked");
                    // $("#d"+obj.id).find("input").attr("checked","checked");
                    var handler = window.setInterval(function(){
                        if($("#d"+obj.id).find("input").size()!=0){// 判断标签已经加载
                            console.log(obj.id);
                            if($("#d"+obj.id+">div").find("input").size() != 0){
                                $("#d"+obj.id+">div").find("input").attr("checked","checked");
                                $("#d"+obj.id+">div").find("input").parent("div").removeClass("unchecked").addClass("checked");
                            }
                            // $("#d"+obj.id).find("input").parent("div").removeClass("unchecked").addClass("indeterminate")
                            window.clearInterval(handler);  //停止定时器
                        }
                    },1);
                })
            }
        })
    })();

</script>

