<h2 class="contentTitle">添加角色</h2>
<form method="post" action="/guestroom/role" class="pageForm required-validate" onsubmit="return iframeCallback(this, navTabAjaxDone);">
    <div class="pageContent">
        <div class="pageFormContent" layoutH="98">
            <dl class="nowrap">
                <dt>角色名：</dt>
                <dd>
                    <input name="name" type="text"  value="" class="required" maxlength="50"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt>创建日期：</dt>
                <dd>
                    <input name="createDate" type="date"  value="" class="required" maxlength="50"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt>权限选择：</dt>
                <dd id="AccessOptions" style="height: 150px ;width: 200px; overflow: scroll">

                </dd>
            </dl>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">保存</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button class="close" type="button">关闭</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        $.ajax({
            url: "ajax/menu/findMenus",
            type: "post",
            cache: false,
            dataType: "json",
            async: false,
            success: function (data) {
                $("#AccessOptions").append("<ul class='tree treeFolder treeCheck expand'></ul>");
                $.each(data,function (i,obj) {
                    // obj生成对应li标签
                    var html="<li id='d"+obj.id+"'><a>"+obj.name+"</a></li>";
                    //分辨层次
                    if(obj.pId==0){//是顶级标签
                        $("#AccessOptions >ul ").append(html);
                    }else{//不是顶级标签
                        var pid="d"+obj.pId;//获取父亲ID
                        var size=$("#"+pid).find("ul").size()//ul是否已经加了
                        if(size==0)//没有加ul
                            $("#"+pid).append("<ul></ul>");
                        $("#"+pid).find("ul").append(html);   //找到父级标签

                    }
                })
                //1.补充样式，等
                //2.bug 先有子标签，再遍历到父标签时。有问题。

            }
        });
    });
</script>


