<h2 class="contentTitle">添加角色</h2>
<form method="post" action="/guestroom/role" class="pageForm required-validate" onsubmit="return iframeCallback(this, navTabAjaxDone);">
    <div class="pageContent">
        <div class="pageFormContent" layoutH="98">
            <dl class="nowrap">
                <dt>角色名：</dt>
                <dd>
                    <input name="name" type="text"  value="" class="required" maxlength="50"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt>创建日期：</dt>
                <dd>
                    <input name="createDate" type="date"  value="" class="required" maxlength="50"/>
                </dd>
            </dl>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">保存</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button class="close" type="button">关闭</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</form>


