<html lang="en" xmlns:th="http://www.thymeleaf.org">
<h2 class="contentTitle">选择角色</h2>
<form method="post" action="/guestroom/user_role" class="pageForm required-validate" onsubmit="return iframeCallback(this, navTabAjaxDone);" xmlns:th="http://www.thymeleaf.org">
    <input type="hidden" name="id" value="" th:value="${user.id}"/>
    <div class="pageFormContent" layoutH="97">
        <dl class="nowrap">
            <dt>角色名：</dt>
            <dd>
                <input name="name" type="text" th:value="${user.username}" value="" class="required readonly" maxlength="50"/>
            </dd>
        </dl>
    <div id="AccessOptions" ,style=" float:left; display:block; margin:10px; overflow:auto; width:200px; height:200px; overflow:auto; border:solid 1px #CCC; line-height:21px; background:#FFF;">
    <p>选择角色(唯一)</p>
</div>
    <div class="formBar">
        <ul>
            <li>
                <div class="buttonActive">
                    <div class="buttonContent">
                        <button type="submit">保存</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="button">
                    <div class="buttonContent">
                        <button class="close" type="button">关闭</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        $.ajax({
            url: "ajax/role/findRole",
            type: "post",
            cache: false,
            dataType: "json",
            async: false,
            success: function (data) {
                $("#AccessOptions").append("<ul class=\"tree treeFolder treeCheck expand\" oncheck=\"test_check_tree\"></ul>");
                $.each(data,function (i,obj) {
                    var html="<li id='d"+obj.id+"'><a tname='role' tvalue='"+obj.id+"'>"+obj.name+"</a></li>";
                    // ("#'d"+obj.id+"'").find("input type:checkbox").attr("type:radio");
                    $("#AccessOptions >ul").append(html);
                })

            }
        });
    });
</script>