<div class="pageHeader" style="border:1px #B8D0D6 solid" xmlns:th="http://www.thymeleaf.org">
    <form id="pagerForm" onsubmit="return navTabSearch(this);" action="/guestroom/user_role/index" method="post">
        <input type="hidden" name="pageNum" value="1" th:value="${pageVo.pageNum}"/>
        <input type="hidden" name="numPerPage" value="" th:value="${pageVo.numPerPage}"/>
    </form>
</div>
<div class="pageContent" style="border-left:1px #B8D0D6 solid;border-right:1px #B8D0D6 solid"
     xmlns:th="http://www.thymeleaf.org" id="user_index_pageContent">
    <div class="panelBar">
        <ul class="toolBar">

            <li><a class="edit" href="/guestroom/user_role/{sid_obj}" target="navTab"
                   mask="true"><span>选择角色(唯一)</span></a></li>
            <li class="line">line</li>

        </ul>
    </div>
    <table class="table" width="100%" layoutH="100" id="bt_user_table" >
        <thead>
        <tr >
            <th width="80">序号</th>
            <th width="120">用户名</th>
            <th width="120">角色名</th>
            <th width="120">角色编号</th>
        </tr>
        </thead>
        <tbody >
         <tr th:each="user:${pageVo.contents}" th:attr="rel=${user.id}">
             <td th:text="${userStat.index+1}">1</td>
             <td th:text="${user.username}">1</td>
             <td th:text="${user.getRole().getName()}">1</td>
             <td th:text="${user.getRole().getId()}">1</td>
         </tr>
        </tbody>
        <script type="text/javascript">
            $("#bt_user_table").find("th,td").css({"text-align": "center"});
        </script>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select id="bt_user_sel" class="combox" name="numPerPage"
                    onchange="navTabPageBreak({numPerPage:this.value,pageNum:1})">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
            </select>
            <span th:text="${'条，共'+pageVo.totalCount+'条'}">条，共50条</span>
        </div>

        <div th:attr="pageNumShown=${pageVo.getTotalPages()>=5?5:pageVo.totalPages}, currentPage=${pageVo.pageNum},totalCount=${pageVo.totalCount},numPerPage=${pageVo.numPerPage}"
             class="pagination" targettype="navTab"  totalCount="100" numPerPage="20" pageNumShown="5" currentPage="2"></div>

    </div>
</div>

<script type="text/javascript">

    $(window).trigger("resize");
    //消除分页错误
    setTimeout(function () {
        var len = $("#bt_user_sel").parent().find("a").size();
        if (!len)
            setTimeout(arguments.callee, 100);
        else {
            displayText({"relId":"user_index_pageContent"});
            $("#bt_user_sel").css({display: "block"});
            $("#bt_user_sel").prev().css({display: "none"});
            $("#bt_user_sel").val($("#bt_user_sel").parents(".unitBox:first").find("input[name=\"numPerPage\"]").val());

        }
    }, 1);


</script>