<h2 class="contentTitle">审核用户</h2>
<form method="post" action="guestroom/user" class="pageForm required-validate" onsubmit="return iframeCallback(this, navTabAjaxDone);" xmlns:th="http://www.thymeleaf.org">
    <input type="hidden" name="_method" value="PUT"/>
    <input type="hidden" name="id" value="" th:value="${user.id}"/>
    <div class="pageContent">
        <div class="pageFormContent" layoutH="97">
            <dl class="nowrap">
                <dt>用户名：</dt>
                <dd>
                    <input name="username" type="text" th:value="${user.username}" value="" class="required readonly" maxlength="50"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt>真实姓名：</dt>
                <dd>
                    <input name="realName" type="text" th:value="${user.realName}" value="" class="required readonly" maxlength="50"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt>角色：</dt>
                <dd>
                    <input  id="user_edit_pwd" type="text" th:value="${role.name}" />
                </dd>
            </dl>
            <dl class="nowrap">
                <dt>菜单：</dt>
                <dd>
                    <input  id="menu" type="text" th:value="${menu.name}" />
                </dd>
            </dl>
<!--            <dl class="nowrap">-->
<!--                <dt>电话号码：</dt>-->
<!--                <dd>-->
<!--                    <input type="text"  name="tel"  th:value="${user.tel}"/>-->
<!--                </dd>-->
<!--            </dl>-->

<!--            <dl class="nowrap">-->
<!--                <dt>审核结果:</dt>-->
<!--                <dd>-->
<!--                    <input type="radio" name="flag" value="1" checked="checked"/>通过-->
<!--                    <input type="radio" name="flag" value="2"/>不通过-->
<!--                </dd>-->
<!--            </dl>-->
<!--            <dl class="nowrap">-->
<!--                <dt>审核理由:</dt>-->
<!--                <dd>-->
<!--                    <input type="text" name="des" value="" th:value="${user.des}"/>-->
<!--                </dd>-->
<!--            </dl>-->
<!--            <dl class="nowrap">-->
<!--                <dt>用户层级:</dt>-->
<!--                <dd>-->
<!--                    <input name="userLevel.id" th:value="${user.userLevel.id}" value="" type="hidden" class="required"/>-->
<!--                    <input class="required readonly" th:value="${user.userLevel.name}" disabled="disabled" name="userLevel.name" type="text"  lookupGroup="userLevel" />-->
<!--                    <a class="btnLook" href="guestroom/userLevel/lookup" lookupGroup="userLevel" >查找带回</a>-->
<!--                </dd>-->
<!--            </dl>-->
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">审核</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button class="close" type="button">关闭</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</form>


