<div class="pageHeader" style="border:1px #B8D0D6 solid" xmlns:th="http://www.thymeleaf.org">
    <form id="pagerForm" onsubmit="return navTabSearch(this);" action="guestroom/declarationForm/download/index" method="post">
        <input type="hidden" name="pageNum" value="1" th:value="${pageVo.pageNum}"/>
        <input type="hidden" name="numPerPage" value="" th:value="${pageVo.numPerPage}"/>
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        书名：<input type="text" size="10px" name="formName" value=""  th:value="${declarationForm.formName}"  />
                    </td>
                    <td>
                        图书类别:
                        <input name="roomOption.id" value="" type="hidden" />
                        <input class="" size="10px"  name="roomOption.name" type="text"  lookupGroup="roomOption" th:if="${declarationForm.roomOption==null}"/>
                        <input class="" size="10px"  name="roomOption.name" type="text"  lookupGroup="roomOption" th:if="${declarationForm.roomOption!=null}" th:value="${declarationForm.roomOption.name}"/>
                        <a class="btnLook" href="guestroom/declarationForm/roomOption" lookupGroup="roomOption" >选择图书类别</a>
                    </td>




                    <td>
                        <div class="buttonActive">
                            <div class="buttonContent">
                                <button type="submit">检索</button>
                            </div>
                        </div>
                    </td>
                </tr>

            </table>

        </div>
    </form>
</div>
<div class="pageContent" style="border-left:1px #B8D0D6 solid;border-right:1px #B8D0D6 solid"
     xmlns:th="http://www.thymeleaf.org" id="declaration_download_index_pageContent">
    <div class="panelBar">
        <form action="guestroom/report/room/download" method="post" id="download_report" target="_blank">
            <input type="hidden" name="id" value="" />
        </form>
        <ul class="toolBar">
            <li><a class="add deal"   href="#" formId="download_report" target="report" mask="true"><span><sapn>图书</sapn>下载</span></a>
            </li>
            <li class="line">line</li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="100" id="bt_declarationForm_table" >
        <thead>
        <tr >
            <th width="80">序号</th>
            <th width="120">图书名称</th>
            <th width="120">图书类别</th>
<!--            <th width="120">报修内容</th>-->
            <th width="120">图书描述</th>
            <!--<th width="120">报修人(真实姓名)</th>-->
            <th width="120">上传时间</th>
            <!--<th width="120">最晚完成时间</th>-->
            <!--<th width="120">状态</th>-->
        </tr>
        </thead>
        <tbody >
        <tr th:each="declarationForm:${pageVo.contents}" th:attr="rel=${declarationForm.id}">
            <td th:text="${declarationFormStat.index+1}"></td>
            <td th:text="${declarationForm.formName}"></td>
            <td th:text="${declarationForm.roomOption.name}"></td>
            <!--<td th:text="${declarationForm.forNameOption.name}"></td>-->
            <td th:text="${declarationForm.description}"></td>
            <!--<td th:text="${declarationForm.user.username+'('+declarationForm.user.realName+')'}"></td>-->
            <td th:text="${#dates.format(declarationForm.createDate,'yyyy-MM-dd HH:mm:ss')}"></td>
            <!--<td th:text="${#dates.format(declarationForm.finishDate,'yyyy-MM-dd HH:mm:ss')}"></td>-->
           <!-- <td th:text="${declarationForm.declarationFormStatus.status}"></td>-->
        </tr>


        </tbody>
        <script type="text/javascript">
            $("#bt_declarationForm_table").find("th,td").css({"text-align": "center"});
        </script>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select id="bt_declarationForm_sel" class="combox" name="numPerPage"
                    onchange="navTabPageBreak({numPerPage:this.value,pageNum:1})">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
            </select>
            <span th:text="${'条，共'+pageVo.totalCount+'条'}">条，共50条</span>
        </div>

        <div th:attr="pageNumShown=${pageVo.getTotalPages()>=5?5:pageVo.totalPages}, currentPage=${pageVo.pageNum},totalCount=${pageVo.totalCount},numPerPage=${pageVo.numPerPage}"
             class="pagination" targettype="navTab" totalCount="100" numPerPage="20" pageNumShown="5" currentPage="2"></div>

    </div>
</div>

<script type="text/javascript">

    $(window).trigger("resize");
    //消除分页错误
    setTimeout(function () {
        var len = $("#bt_declarationForm_sel").parent().find("a").size();
        if (!len)
            setTimeout(arguments.callee, 100);
        else {
            displayText({"relId":"declaration_download_index_pageContent"});
            $("#bt_declarationForm_sel").css({display: "block"});
            $("#bt_declarationForm_sel").prev().css({display: "none"});
            $("#bt_declarationForm_sel").val($("#bt_declarationForm_sel").parents(".unitBox:first").find("input[name=\"numPerPage\"]").val());

        }
    }, 1);


</script>