<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <base href="http://localhost/"/>-->
<!--    <script type="text/javascript" src="echarts/js/echarts.js"></script>-->
<!--    <script type="text/javascript" src="dwz/js/jquery-2.1.4.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<div id="main" style="width: 1000px;height:400px;"></div>-->
<!--<script type="text/javascript">-->
<!--    var myChart = echarts.init(document.getElementById('main'));-->

<!--    option = {-->
<!--        xAxis: {-->
<!--            type: 'category',-->
<!--            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],-->
<!--            axisLabel:{-->
<!--                formatter : function(params){-->
<!--                    var newParamsName = "";// 最终拼接成的字符串-->
<!--                    var paramsNameNumber = params.length;// 实际标签的个数-->
<!--                    var provideNumber = 4;// 每行能显示的字的个数-->
<!--                    var rowNumber = Math.ceil(paramsNameNumber / provideNumber);// 换行的话，需要显示几行，向上取整-->
<!--                    /**-->
<!--                     * 判断标签的个数是否大于规定的个数， 如果大于，则进行换行处理 如果不大于，即等于或小于，就返回原标签-->
<!--                     */-->
<!--                    // 条件等同于rowNumber>1-->
<!--                    if (paramsNameNumber > provideNumber) {-->
<!--                        /** 循环每一行,p表示行 */-->
<!--                        for (var p = 0; p < rowNumber; p++) {-->
<!--                            var tempStr = "";// 表示每一次截取的字符串-->
<!--                            var start = p * provideNumber;// 开始截取的位置-->
<!--                            var end = start + provideNumber;// 结束截取的位置-->
<!--                            // 此处特殊处理最后一行的索引值-->
<!--                            if (p == rowNumber - 1) {-->
<!--                                // 最后一次不换行-->
<!--                                tempStr = params.substring(start, paramsNameNumber);-->
<!--                            } else {-->
<!--                                // 每一次拼接字符串并换行-->
<!--                                tempStr = params.substring(start, end) + "\n";-->
<!--                            }-->
<!--                            newParamsName += tempStr;// 最终拼成的字符串-->
<!--                        }-->

<!--                    } else {-->
<!--                        // 将旧标签的值赋给新标签-->
<!--                        newParamsName = params;-->
<!--                    }-->
<!--                    //将最终的字符串返回-->
<!--                    return newParamsName-->
<!--                }-->
<!--            }-->
<!--        },-->
<!--        yAxis: {-->
<!--            type: 'value'-->
<!--        },-->
<!--        series: [{-->
<!--            data: [120, 200, 150, 80, 70, 110, 130],-->
<!--            type: 'bar',-->
<!--            showBackground: true,-->
<!--            backgroundStyle: {-->
<!--                color: 'rgba(220, 220, 220, 0.8)'-->
<!--            }-->
<!--        }]-->
<!--    };-->

<!--    //通过ajax更新数据-->
<!--    $.ajax({-->
<!--        url:"ajax/view/lineSimple",-->
<!--        data:{},-->
<!--        async:false,//同步-->
<!--        cache:false,-->
<!--        dataType:"json",-->
<!--        type:"post",-->
<!--        success:function(data){-->

<!--            //数据清空-->
<!--            option.xAxis.data=[];-->
<!--            option.series[0].data=[];-->
<!--            //遍历data数据集合-->
<!--            $.each(data,function(i,n){-->
<!--                option.xAxis.data.push(n[0]);//取到的是书名-->
<!--                option.series[0].data.push(n[1]);-->
<!--            });-->

<!--        }-->

<!--    })-->

<!--    // 使用刚指定的配置项和数据显示图表。-->
<!--    myChart.setOption(option);-->
<!--</script>-->
<!--</body>-->
<!--</html>-->


       <div id="container1" style="width: 1000px;height:400px;"></div>
     <script type="text/javascript">
            var dom = document.getElementById("container1");
            console.log(dom)
            var myChart = echarts.init(dom);
            var app = {};
            option = null;
            option = {
                xAxis: {
                    type: 'category',
                    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                    axisLabel:{
                        formatter : function(params){
                            var newParamsName = "";// 最终拼接成的字符串
                            var paramsNameNumber = params.length;// 实际标签的个数
                            var provideNumber = 5;// 每行能显示的字的个数
                            var rowNumber = Math.ceil(paramsNameNumber / provideNumber);// 换行的话，需要显示几行，向上取整
                            /**
                             * 判断标签的个数是否大于规定的个数， 如果大于，则进行换行处理 如果不大于，即等于或小于，就返回原标签
                             */
                            // 条件等同于rowNumber>1
                            if (paramsNameNumber > provideNumber) {
                                /** 循环每一行,p表示行 */
                                for (var p = 0; p < rowNumber; p++) {
                                    var tempStr = "";// 表示每一次截取的字符串
                                    var start = p * provideNumber;// 开始截取的位置
                                    var end = start + provideNumber;// 结束截取的位置
                                    // 此处特殊处理最后一行的索引值
                                    if (p == rowNumber - 1) {
                                        // 最后一次不换行
                                        tempStr = params.substring(start, paramsNameNumber);
                                    } else {
                                        // 每一次拼接字符串并换行
                                        tempStr = params.substring(start, end) + "\n";
                                    }
                                    newParamsName += tempStr;// 最终拼成的字符串
                                }

                            } else {
                                // 将旧标签的值赋给新标签
                                newParamsName = params;
                            }
                            //将最终的字符串返回
                            return newParamsName
                        }
                    }
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: [820, 932, 901, 934, 1290, 1330, 1320],
                    type: 'line'
                }]
            };


           $.ajax({
                url:"ajax/view/lineSimple",
                data:{},
                async:false,//同步
                cache:false,
                dataType:"json",
                type:"post",
                success:function (data) {

                    option.xAxis.data=[];
                    option.series[0].data=[];

                    $.each(data,function (i,n) {
                        option.xAxis.data.push(n[0]);
                        option.series[0].data.push(n[1])
                    })
                }
            })

            // if (option && typeof option === "object") {
                myChart.setOption(option);
            // }
       </script>
