<div class="pageHeader" style="border:1px #B8D0D6 solid; background-color: #2c343c" xmlns:th="http://www.thymeleaf.org">
    <form id="pagerForm" action="/guestroom/bookDownloadView/index" onsubmit="return navTabSearch(this);" method="post">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        <label>起始时间：</label>
                        <input type="text" name="start" class="date" readonly="true" id="Start" value="" th:value="${#dates.format(downLoadVo.start, 'yyyy-MM-dd')}"/>
                        <a class="inputDateButton" href="javascript:;">选择</a>
                    </td>
                    <td>
                        <label>结束时间：</label>
                        <input type="text" name="end" class="date" readonly="true" id="End" value="" th:value="${#dates.format(downLoadVo.end, 'yyyy-MM-dd')}"/>
                        <a class="inputDateButton" href="javascript:;">选择</a>
                    </td>
                    <td>
                        <div class="buttonActive"><div class="buttonContent"><button type="submit">查看</button></div></div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
<div id="bookCommentView" style="width: 1920px;height:900px;"></div>
<script type="text/javascript">
    // var dom = document.getElementById("bookCommentView");
    // var myChart = echarts.init(dom);
    // var app = {};
    // option = null;
    // option = {
    //     backgroundColor: '#2c343c',
    //
    //     title: {
    //         text: '图书下载量统计图',
    //         left: 'center',
    //         top: 20,
    //         textStyle: {
    //             color: '#ccc'
    //         }
    //     },
    //
    //     tooltip: {
    //         trigger: 'item',
    //         formatter: '{a} <br/>{b} : {c} ({d}%)'
    //     },
    //
    //     visualMap: {
    //         show: false,
    //         min: 0,
    //         max: 10,
    //         inRange: {
    //             colorLightness: [0, 1]
    //         }
    //     },
    //     series: [
    //         {
    //             name: '图书下载量',
    //             type: 'pie',
    //             radius: '55%',
    //             center: ['50%', '50%'],
    //             data: [
    //                 {value: 335, name: '直接访问'},
    //                 {value: 310, name: '邮件营销'},
    //                 {value: 274, name: '联盟广告'},
    //                 {value: 235, name: '视频广告'},
    //                 {value: 400, name: '搜索引擎'}
    //             ].sort(function (a, b) { return a.value - b.value; }),
    //             roseType: 'radius',
    //             label: {
    //                 color: 'rgba(255, 255, 255, 0.3)'
    //             },
    //             labelLine: {
    //                 lineStyle: {
    //                     color: 'rgba(255, 255, 255, 0.3)'
    //                 },
    //                 smooth: 0.2,
    //                 length: 10,
    //                 length2: 20
    //             },
    //             itemStyle: {
    //                 color: '#c23531',
    //                 shadowBlur: 200,
    //                 shadowColor: 'rgba(0, 0, 0, 0.5)'
    //             },
    //
    //             animationType: 'scale',
    //             animationEasing: 'elasticOut',
    //             animationDelay: function (idx) {
    //                 return Math.random() * 200;
    //             }
    //         }
    //     ]
    // };;
    var dom = document.getElementById("bookCommentView");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    option = {
        backgroundColor: '#fff',

        title: {
            text: '统计图书下载',
            left: 'center',
            top: 20,
            textStyle: {
                color: '#000'
            }
        },

        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
        },

        visualMap: {
            show: false,
            min: 0,
            max: 10,
            inRange: {
                colorLightness: [0, 1]
            }
        },
        series: [
            {
                name: '图书下载量：',
                type: 'pie',
                radius: '55%',
                center: ['50%', '50%'],
                data: [
                    {value: 335, name: '直接访问'},
                    {value: 310, name: '邮件营销'},
                    {value: 274, name: '联盟广告'},
                    {value: 235, name: '视频广告'},
                    {value: 400, name: '搜索引擎'}
                ].sort(function (a, b) { return a.value - b.value; }),
                roseType: 'radius',
                label: {

                },
                labelLine: {
                    lineStyle: {
                        color: 'rgba(0, 0, 0, 0.3)'
                    },
                    smooth: 0.2,
                    length: 10,
                    length2: 20
                },


                animationType: 'scale',
                animationEasing: 'elasticOut',
                animationDelay: function (idx) {
                    return Math.random() * 200;
                }
            }
        ]
    };

    var start = $("#Start").val();
    var end = $("#End").val();
    //
    console.log(start);
    console.log(end);

    $.ajax({
        url:"ajax/view/downLoad",
        data:{start,end},
        async:false,//同步
        cache:false,
        dataType:"json",
        type:"post",
        success:function (data) {

            option.series[0].data=[];

            $.each(data,function (i,n) {
                var obj = {}
                obj.name=n[0]
                obj.value= n[1]
                option.series[0].data.push(obj);
            })

            var flag = true;
            $.each(data,function (i,n) {
                    if(n[1] !=0){
                        console.log(n[1]);
                        flag = false;
                    }

            })
            if(flag==true)
                option.series[0].data=[];


            option.series[0].data.sort(function (a, b) { return a.value - b.value; })
        }
    })




    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
</script>

