<h2 class="contentTitle">审核用户</h2>
<form method="post" action="/guestroom/bookComment" class="pageForm required-validate" onsubmit="return iframeCallback(this, navTabAjaxDone);" xmlns:th="http://www.thymeleaf.org">
    <input type="hidden" name="_method" value="PUT"/>
    <div class="pageContent">
        <div class="pageFormContent" layoutH="97">
            <dl class="nowrap">
                <dt>用户名：</dt>
                <dd>
                    <input type="hidden" name="user.id" th:value="${user.id}"/>
                    <input name="user.username" type="text" th:value="${user.username}" class="required readonly" maxlength="50" readonly/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt>书名：</dt>
                <dd>
                    <input type="hidden" name="book.id"  th:value="${book.id}"/>
                    <input name="book.name" type="text" th:value="${book.name}" class="required readonly" maxlength="50" readonly/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt>评论：</dt>
                <textarea name="commentContent" style="width: 300px"></textarea>
<!--                <dd>-->
<!--                    <input  type="text" name="commentContent" value="" style="width: 400px" class="required readonly"/>-->
<!--                </dd>-->
            </dl>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">审核</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button class="close" type="button">关闭</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</form>


