<div class="pageHeader" style="border:1px #B8D0D6 solid" xmlns:th="http://www.thymeleaf.org">
    <form id="pagerForm" onsubmit="return navTabSearch(this);" action="/guestroom/bookRecycle/index" method="post">
        <input type="hidden" name="_method" value="PUT"/>
        <input type="hidden" name="pageNum" value="1" th:value="${pageVo.pageNum}"/>
        <input type="hidden" name="numPerPage" value="" th:value="${pageVo.numPerPage}"/>
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        书名：<input type="text" name="name" value="" th:value="${book.name}" />
                    </td>
                    <td>
                        类目:
                        <select name="subject.id" id="recycle_subject_select">
                            <option value="-1">全部</option>
                        </select>
                        <script type="text/javascript">
                             $.ajax({
                                 url:"ajax/subject/findSubject",
                                 type:"post",
                                 async:false,
                                 dataType:"json",
                                 success:function (data) {
                                       $.each(data,function (i,obj) {
                                            $("#recycle_subject_select").append(" <option value="+obj.id+">"+obj.name+"</option>");
                                       })
                                 }
                             })
                         </script>
                        <script th:inline="javascript">
                            var obj = [[${subject}]];
                            if(obj !== null){
                                $("#subject_select").val(obj.id);
                            }
                        </script>
                    </td>
                    <td>
                        <div class="buttonActive">
                            <div class="buttonContent">
                                <button type="submit">搜索</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
<div class="pageContent" style="border-left:1px #B8D0D6 solid;border-right:1px #B8D0D6 solid"
     xmlns:th="http://www.thymeleaf.org" id="bookRecycle_index_pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="delete" href="guestroom/book/recycleDelete/{sid_obj}" _method="delete" target="ajaxTodo"
                   mask="true" title="确定要删除吗?"><span>删除</span></a></li>
            <li><a class="edit" href="/guestroom/book/restore/{sid_obj}" target="ajaxTodo" mask="true"><span>还原</span></a></li>
            <li class="line">line</li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="100" id="bt_book_table" >
        <thead>
        <tr >
            <th width="80">序号</th>
            <th width="120">书名</th>
            <th width="120">作者</th>
            <th width="200">描述</th>
            <th width="120">所属科目</th>
            <th width="150">图书文件名</th>
        </tr>
        </thead>
        <tbody >
         <tr th:each="book:${pageVo.contents}" th:attr="rel=${book.id}">
             <td th:text="${bookStat.index+1}">1</td>
             <td th:text="${book.name}"></td>
             <td th:text="${book.author}"></td>
             <td th:text="${book.desc}"></td>
             <td th:text="${book.subject.getName()}"></td>
             <td th:text="${book.fileName}"></td>
         </tr>

        </tbody>
        <script type="text/javascript">
            $("#bt_book_table").find("th,td").css({"text-align": "center"});
        </script>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select id="bt_book_sel" class="combox" name="numPerPage"
                    onchange="navTabPageBreak({numPerPage:this.value,pageNum:1})">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
            </select>
            <span th:text="${'条，共'+pageVo.totalCount+'条'}">条，共50条</span>
        </div>

        <div th:attr="pageNumShown=${pageVo.getTotalPages()>=5?5:pageVo.totalPages}, currentPage=${pageVo.pageNum},totalCount=${pageVo.totalCount},numPerPage=${pageVo.numPerPage}"
             class="pagination" targettype="navTab"  totalCount="100" numPerPage="20" pageNumShown="5" currentPage="2"></div>

    </div>
</div>

<script type="text/javascript">

    $(window).trigger("resize");
    //消除分页错误
    setTimeout(function () {
        var len = $("#bt_book_sel").parent().find("a").size();
        if (!len)
            setTimeout(arguments.callee, 100);
        else {
            displayText({"relId":"bookRecycle_index_pageContent"});
            $("#bt_book_sel").css({display: "block"});
            $("#bt_book_sel").prev().css({display: "none"});
            $("#bt_book_sel").val($("#bt_book_sel").parents(".unitBox:first").find("input[name=\"numPerPage\"]").val());

        }
    }, 1);


</script>